<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- This is p schema -->
	<bean class="com.sk.springcore.Student" name="student3"
		p:studentId="3" p:studentName="P Schema" p:studentAddress="NY" />

	<!-- This is our Bean -->
	<bean class="com.sk.springcore.Student" name="student1">
		<property name="studentId" value="112333" />
		<property name="studentName" value="Shubham" />
		<property name="studentAddress" value="LA" />
	</bean>

</beans>